:root {
  --color-primary: #222;
  --color-secondary: #ffbe00;
  --color-secondary-rgb: 255, 190, 0;
  --color-tertiary: #093f54;
  --font-color: #243238;
  --slider-arrow-color: #007aff;
  --max-content-width: 1200px;
  font-size: 62.5%;
}

.container-fluid {
  background-color: var(--color-tertiary);
  font-weight: bold;
  width: 100% !important;
  float: right;
  top: -1;
  height: 6vh;
  display: flex;
}
.topbar-email {
  display: flex;
  justify-content: space-between;
}
.topbar-email a {
  color: aliceblue;
  font-size: 15px;
  display: flex;
  direction: none;
  text-decoration: none;
}
.login-section {
  display: flex;
}
.login-section a {
  color: aliceblue;
  font-size: 15px;
  flex-direction: row-reverse;
  direction: none;
  text-decoration: none;
}
.login-section span {
  color: aliceblue;
  font-size: 15px;
  flex-direction: row-reverse;
}

.absolute {
  right: initial;
  height: 12rem;
  margin-top: -6px;
  background-color: var(--color-secondary);
  float: left;
}
.nav-rightSide {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.nav-list {
  padding: 0;
  margin: 0;
}
.nav-list ul {
  text-align: right;
  list-style: none;
}
.nav-list ul li {
  display: inline-block;
  position: relative;
  margin-right: 0.5rem;
}
.nav-list a {
  transition: all 0.5s ease 0s;
  position: relative;
  color: rgb(12, 12, 12);
  font-size: 1.7rem;
  font-weight: 500;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 2.7rem 1.9rem;
}
.nav-item img {
  position: relative;
  display: inline-block;
  width: 48px;
}
.dropdown-menu {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-item:hover .dropdown-menu {
  display: block;
  z-index: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0s, 0.3s;
}

.dropdown:hover .dropdown_menu--animated {
  display: block;
}

.dropdown-menu li {
  text-align: center;
  margin: 0%;
  transform-origin: 50% 0%;
  transform: perspective(350px) rotateX(-90deg);
  box-shadow: 0 2px rgba(0, 0, 0, 0.05);
  line-height: 40px;
}
.dropdown-menu:hover li {
  transform: perspective(350px) rotateX(0deg);
  transition: 0.5s linear 0s;
  background-color: #fff;
}

.btn1 {
  position: relative;
  font-weight: bold;
  font-size: 35px;
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 px 15px;
}
.callUs {
  padding: 2px;
  text-align: center;
  margin-left: 2rem;
  position: relative;
}
.btn1::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: var(--color-secondary);
  z-index: -1;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 20s linear infinite;
}
.yellow {
  background-color: var(--color-primary);
}
.yellow::before {
  border: 3px dashed var(--color-primary);
}
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(356deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-356deg);
  }
}

.topSection a {
  color: aliceblue;
  font-size: 15px;
  display: flex;
}
.logo-section {
  position: relative;
  padding: 3.5rem 0px;
}
.absolute {
  margin-top: -0.5rem;

  width: 24rem;
  height: 10.7rem;
}
.absolute img {
  width: 85%;
  height: 57%;
}

.nav-container {
  -webkit-box-pack: center;
  justify-content: center;
  box-shadow: rgb(25 25 25 / 10%) 0px 10px 15px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  position: relative;
  top: 0px;
  z-index: 1000;
  color: rgb(12, 12, 12);
  transition: all 0.5s ease 0s;
}
.content {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
}
.nav_rightSide {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.nav-list ul {
  text-align: right;
  list-style: none;
}
.nav-list > ul > li {
  display: inline-block;
  position: relative;
  margin-right: 0.5rem;
}
.nav-list > ul > li a {
  transition: all 0.5s ease 0s;
  position: relative;
  color: rgb(12, 12, 12);
  font-size: 1.7rem;
  font-weight: 500;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 2.7rem 1.9rem;
  text-decoration: none;
}
.callUs {
  margin: 1rem;
  position: relative;
}
.hamburger {
  display: none;
}
@media screen and (max-width: 1146px) {
  .nav-container {
    display: none;
  }
  .hamburger {
    display: block;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    box-shadow: rgb(25 25 25 / 10%) 0px 10px 15px;
    width: 100%;
  }

  .logo-section-mobile {
    background-color: var(--color-secondary);
    width: 22vh;
    height: 9vh;
  }
  .class {
    display: flex;
  }
  .cursor-pointer {
    margin: 16px;
  }
  .mid {
    margin-top: 2rem;
    margin-left: 1.5rem;
  }
  .logo {
    background-color: var(--color-secondary);

    position: relative;
    width: 185px;
    height: 85px;
    margin-top: -1rem;
    margin-bottom: -0.5rem;
  }
  .logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: +2rem;
    width: 75%;
  }
}
.logo-screen-mobile {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 3rem 2.5rem;
}
.logo-screen-mobile img {
  width: 15rem;
}
.left-screen-1200 {
  display: flex;
}
.nav-list-mobile ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.nav-list-mobile ul li {
  position: relative;
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 2.4rem;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(49, 38, 32);
  text-transform: capitalize;
  transition: all 500ms ease 0s;
}
.nav-list-mobile a {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(49, 38, 32);
  text-transform: capitalize;
  width: 100%;
  text-decoration: none;
}
.side-bar-mobile {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  margin-top: 3rem;
  height: 7.5rem;
}
.side-bar-mobile img {
  width: 3rem;
}
.login-section-mobile a {
  color: inherit;
  text-decoration: none !important;
  line-height: 3.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  transition: all 0.2s;
}
.social-icons {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 3rem 2.5rem;
  margin-top: 6rem;
}

.social-icons a {
  color: inherit;
  text-decoration: none !important;
  line-height: 3.4rem;
  font-size: 1.7rem;
  font-weight: 400;
  transition: all 0.2s;
  margin: 8px;
}
